:root {
    --primary-color: #e50914
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
    }

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.display {
    width: 100%;
    height: 75vh;
    position: relative;
    background: url('assets/background.jpg') no-repeat center center/cover;
    border-bottom: 8px solid #222;
    margin-bottom: 0;
    color: #fff;
}

.display::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0, 0.6);
    box-shadow: inset 85px, 75px 100px 250px #000000, inset -85px -75px 250px #000000; 
}

.display-top {
  position: relative;
  height: 90px;
    
}

.display-top img {
 width: 170px; 
 position: absolute;
 z-index: 2;
 top: 35%;
 left: 4%;

}

.display-top a {
 position: absolute;
 z-index: 2;
 top: 35%;
 right: 2%;
 }

 .display-content {
     position: relative;
     z-index: 2;
     margin: auto;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 5rem;

 }

 .display-content h1 {
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 1.1;
    margin: 0 0 2rem;

 }   

 .display-content p {

    position: relative;
    color: #fff;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;
 }

 .btn {
     display: inline-block;
     background: var(--primary-color);
     color: #fff;
     padding: 0.5rem 1.2rem;
     font-size: 1.0rem;
     text-align: center;
     border: none;
     margin-right: 0.5rem;
     outline: none;
     box-shadow: 0 1px 0 rgba(0,0,0, 0.45);
     border-radius: 2px;
 }

 .btn:hover {
     opacity: 0.9;
 }

 .btn-rounded {
     border-radius: 5px;
 }

 .btn-xl {
     font-size: 2rem;
     padding: 1.5rem 2.1rem;
     text-transform: uppercase;

 }

 .btn-lg {
     font-size: 1rem;
     padding: .08rem 1.3rem;
     text-transform: uppercase;
 }

.subscribe {
    color: #fff;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 1.25;
    margin: 0 0 2rem;
}
 .email {
    display: flex;
    flex-flow: row wrap;
    padding: 0rem 0rem;
    font-size: 1rem;
    text-align: centered;
    border: none;
    margin-right: 35rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0,0,0, 0.45);
    border-radius: 2px;
}

.email input {
    float: left;
    position: relative;
    margin-left: 17rem;
    padding: .5rem 13rem;
    text-align: left;
    font-size: 1rem;
    border: none;
}
::-webkit-input-placeholder {
    text-align: left;
  }
  
  :-moz-placeholder {
    text-align: left;
  }
.email button {
    float: right;
    position: relative;
    margin-right: -55rem;
    font-size: 2rem;
     padding: 1.5rem 2.8rem;
     text-transform: uppercase;
    background: var(--primary-color);
    color: #fff;
    border: none;
 }

 .enjoyTV {
    position: relative;
    width: 100vw;
    height: -8vw;
    margin: auto;
    margin-top: 5rem;
    border-bottom: 8px solid #222;
    margin-bottom: 0;
  
} 
 .enjoyTV img {
    
    width: 550px; 
    position: relative;
    z-index: 2;
    left: 53%;
    margin-right: -85rem;
    margin-top: -9rem;
   }
   .video3 {
    position: relative;
    z-index: 1;
    left: 54%;
    margin-right: 87rem;
    margin-top: 8rem;
    
}
   .enjoyTV h1 {
      position: relative;
      text-align: in-line block;
      z-index 2;
   }
   
   .enjoyTV h2 {
    position: relative;
    z-index 2;
    margin-left: 32rem;
    margin-top:  9rem;
 }
 